*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
       
}
@font-face {
    font-family: "1";
    src: url(fonts/IBMPlexSans-Bold.ttf);
}
/*for desktop*/
@media only screen and (min-width: 992px ) {
    body{
        overflow: hidden !important;
    }
}

/*for mobile*/
@media only screen and (max-width: 992px ) {
    /* media for login page*/
    .form-signin{
        width: auto !important;
    }
    .facecolor , .google{
        font-size: 10px !important;
        width: 320px !important;
      }
    .logo{
        margin-top: 15% !important;
        font-size: 60px !important;
        padding-bottom: 10px !important;
    }
    .line{
        font-size: 52px!important;
    }
    .form-signin{
        width: auto !important;
        margin-left: auto !important ;
    }
    .forget-password{
        margin-left: 30px !important;
    }
    .eyeslash{
        margin-left: 300px;
        margin-top: -40px;
        
        
    }
  }
 
  body{
    font-family: "1";
  }
/*Start signin*/
.body-login{ 
    background-color: #233975;
    
}

/*start logo*/
.logo{
    font-size: 100px;
    font-weight: bold;
    margin-top: 25%;
    color: white;
    text-align: center;
}
/*start form-signin*/
.form-signin{
    background-image: linear-gradient(to bottom,white,gray);
    border-radius: 5px;
    margin: auto !important;
}
.line{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-left: -120px;
    margin-top: -100px;
}
.facecolor{
    margin: auto;
    background-color: #18316F;
    font-size: 12px;
    width: 358px;
    height: 48px;
    color: white;
    border: none;
    border-radius: 5px;
}
.facecolor:hover ,:active{
    background-color: white;
    color: #18316F;
}
.google{
    margin: auto;
    width: 358px;
    height: 48px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: grey;
}
.google:hover ,:active{
    color: black;
}

.OR{
    width: 35px;
    
    margin: auto;
    border: none;
    border-radius: 5px;
}
.email{
    margin-left: 50px;
}
/*input*/
.place{
    margin: auto;
    width: 340px;
    height: 48px;
    font-size: 12px;
    border: none;
    border-radius: 5px;

}
.place-password{
    margin: auto;
    display: flex;
    position: relative;
    width: 340px;
    height: 48px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}
.eyeslash{
    position: absolute;
    text-align: right;
    margin-left: 140px;
    margin-top: -40px;
    color: gray;
    cursor: pointer;
}
.form-signin .email #eye{
    display: none;
}
.b1{
    width: 295px;
    border: none;
    border-radius: 5px;
}
.b1:hover ,:active{
    color: black !important ;
    
}
.forget-password{
    color: #233975;
    text-decoration: none;
    margin-left: 50px;
    float: left;

}
.text1{
    text-align: center;
    width: 150px;
    font-size: 9px;
    margin: auto;
}
/*end sign in*/

/*start create account*/
.body-create{
    background-color:#233975 ;
}
.line-create{
    margin-top: -100px;
    font-size: 60px;
}
.create-p{
    text-align: left;
    font-size: 20px;
    margin-bottom: -2px;
    margin-left: 25px;
}
.create-input{
    display: flex;
    position: relative;
    margin: auto;
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.b-create {
    width: 220px;
    height: 35px;
    font-size: 18px;

}
.eyeslash-create{
    position: absolute;
    color: gray;
    margin-left: 240px;
    margin-top: -25px;
    cursor: pointer;
}
.small-logo{
    text-align: right;
    color: white;
    font-size: 20px;
    margin-top: 125%;
    margin-right: 50px;
    margin-bottom: -20px;
}
.line-small-logo{
    text-align: right;
    margin-left: 72%;
}
@media only screen and (max-width: 992px ) {
    /*media for create account page*/
    .create-input{
        width: 250px !important;
        margin: auto !important;
    }
    .form-signin{
        width: auto !important;
    }
    .email{
        margin-left: 40px !important;
    }
    .create-p{
        text-align: left;
        font-size: 15px;
        margin-bottom: -2px;
        margin-left: 50px;
    }
    .small-logo{
        text-align: left;
        color: white;
        font-size: 20px;
        margin-top: 0%;
        margin-left: 30px;
        margin-bottom: -20px;
    }
    .line-small-logo {
        text-align: left !important;
        margin-left: 33px;
    }
    .b-create {
        width: 200px;
        height: 35px;
        font-size: 14px;
    
    }
  }